<% provide(:title, 'Pau Hana Bars') %>
<h1>Pau Hana Bars Nearby</h1>
<%= will_paginate %>
<ul class="users">
    <%= render @bars %>
</ul>
<%= will_paginate %>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
