<div class="center jumbotron">
  <h1>Pau Hana Chi</h1>
  <%= link_to image_tag("officialphclog.png",  id: "phclogo", alt: "Pau Hana Chi logo"),
            bars_path %>

  <h3>
    Pau Hana means work is done, time to relax and enjoy life! Pau Hana Chi will help you find the perfect spot in the windy city!
  </h3>
<% if logged_in? %>
<%= link_to "Show me where to Pau Hana!", bars_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <%= link_to "Register!", new_user_path, class: "btn btn-lg btn-primary" %>
<% end %>

  </div>
