<% provide(:title, "Special") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<div class="well span3" align="center" id="phcontent">


  <%= @special.special_description %></br>
  <%= @special.day %></br>
  <%= @special.special_price %></br>
</div>
  </div>
</div>


</h5>
